h1{
    color: blue;
    text-align: center;
    text-decoration: underline;
}
h4{
    color: green;
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(14, 117, 43);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
body
{
    background-color: rgb(199, 199, 199);
}